<form hx-post="{% if delivery_note %}{% url 'delivery_notes:delivery_note_update' delivery_note.id %}{% else %}{% url 'delivery_notes:delivery_note_create' %}{% endif %}"
      hx-swap="none">
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title">
            {% if delivery_note %}
                Edit Delivery Note
            {% else %}
                New Delivery Note
            {% endif %}
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
    </div>
    <div class="modal-body"
         style="overflow-y: auto;
                max-height: calc(95vh - 180px)">
        <div class="card mb-4">
            <div class="card-header">Delivery Details</div>
            <div class="card-body">
                <div class="row g-3">
                    <div class="col-md-12"
                         id="quotation-field"
                         data-items-url="{% url 'delivery_notes:quotation_items' 999999 %}">
                        <label class="form-label">Quotation</label>
                        {{ form.quotation }}
                        <div class="text-danger small">{{ form.quotation.errors }}</div>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Delivery Date</label>
                        {{ form.delivery_date }}
                        <div class="text-danger small">{{ form.delivery_date.errors }}</div>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Delivery Address</label>
                        {{ form.delivery_address }}
                    </div>
                     <div class="col-4">
                        <label class="form-label">Notes</label>
                        {{ form.notes }}
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Receiver Name</label>
                        {{ form.receiver_name }}
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Receiver Phone</label>
                        {{ form.receiver_phone }}
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Driver Name</label>
                        {{ form.driver_name }}
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Vehicle Number</label>
                        {{ form.vehicle_number }}
                    </div>                   
                </div>
            </div>
        </div>
<!-- =========================================
     DELIVERY ITEMS
========================================== -->

<div class="card">

    <div class="card-header">
        Delivery Items
    </div>


    <div id="delivery-items-wrapper">

        {% if delivery_note %}

            {{ formset.management_form }}

            <div class="table-responsive">

                <table
                    class="
                        table
                        table-sm
                        table-bordered
                        mb-0
                        align-middle
                    "
                >

                    <thead class="table-light">

                        <tr>

                            <th style="width: 35%;">
                                Item
                            </th>

                            <th
                                style="width: 12%;"
                                class="text-center"
                            >
                                Quoted
                            </th>

                            <th style="width: 15%;">
                                Deliver Qty
                            </th>

                            <th style="width: 30%;">
                                Remarks
                            </th>

                            <th
                                style="width: 8%;"
                                class="text-center"
                            >
                                Del
                            </th>

                        </tr>

                    </thead>


                    <tbody>

                        {% for form in formset %}

                            {% include "delivery_notes/partials/item_row.html" with form=form %}

                        {% endfor %}

                    </tbody>

                </table>

            </div>

        {% else %}

            <div class="text-center text-muted py-4">

                Select a quotation to load
                delivery items.

            </div>

        {% endif %}

    </div>

</div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success">Save Delivery Note</button>
    </div>
</form>
<script>

;(function () {

    /* =========================================
       ELEMENTS
    ========================================= */

    const quotation =
        document.getElementById(
            "id_quotation"
        );


    const quotationField =
        document.getElementById(
            "quotation-field"
        );


    const itemsWrapper =
        document.getElementById(
            "delivery-items-wrapper"
        );


    if (
        !quotation ||
        !quotationField ||
        !itemsWrapper
    ) {
        return;
    }


    /* =========================================
       PREVENT DUPLICATE EVENT
    ========================================= */

    if (
        quotation.dataset.deliveryItemsBound
        === "true"
    ) {
        return;
    }


    quotation.dataset.deliveryItemsBound =
        "true";


    /* =========================================
       QUOTATION CHANGE
    ========================================= */

    quotation.addEventListener(
        "change",

        function () {

            const quotationId =
                this.value;


            if (!quotationId) {

                itemsWrapper.innerHTML = `

                    <div
                        class="
                            text-center
                            text-muted
                            py-4
                        "
                    >

                        Select a quotation to load
                        delivery items.

                    </div>

                `;


                return;

            }


            const url =
                quotationField
                    .dataset
                    .itemsUrl
                    .replace(
                        "999999",
                        quotationId
                    );


            htmx.ajax(
                "GET",

                url,

                {
                    target:
                        "#delivery-items-wrapper",

                    swap:
                        "innerHTML",
                }
            );

        }

    );


    /* =========================================
       REMOVE DELIVERY ITEM
    ========================================= */

    document.addEventListener(
        "click",

        function (event) {

            const button =
                event.target.closest(
                    ".remove-delivery-row"
                );


            if (!button) {
                return;
            }


            const row =
                button.closest("tr");


            if (!row) {
                return;
            }


            const deleteInput =
                row.querySelector(
                    'input[name$="-DELETE"]'
                );


            if (deleteInput) {

                deleteInput.checked = true;

                row.style.display = "none";

            }

        }

    );

})();

</script>