{{ formset.management_form }}


<div class="table-responsive">

    <table
        class="
            table
            table-sm
            table-bordered
            mb-0
            align-middle
        "
    >

        <thead class="table-light">

            <tr>

                <th style="width: 35%;">
                    Item
                </th>

                <th
                    style="width: 12%;"
                    class="text-center"
                >
                    Quoted
                </th>

                <th style="width: 15%;">
                    Deliver Qty
                </th>

                <th style="width: 30%;">
                    Remarks
                </th>

                <th
                    style="width: 8%;"
                    class="text-center"
                >
                    Del
                </th>

            </tr>

        </thead>


        <tbody>

            {% for form in formset %}

                {% include "delivery_notes/partials/item_row.html" with form=form %}

            {% empty %}

                <tr>

                    <td
                        colspan="5"
                        class="
                            text-center
                            text-muted
                            py-4
                        "
                    >

                        No remaining items
                        available for delivery.

                    </td>

                </tr>

            {% endfor %}

        </tbody>

    </table>

</div>
<script>

;(function () {

    document
        .querySelectorAll(
            ".remove-delivery-row"
        )
        .forEach(function (button) {

            if (
                button.dataset.bound === "true"
            ) {
                return;
            }


            button.dataset.bound = "true";


            button.addEventListener(
                "click",

                function () {

                    const row =
                        this.closest("tr");


                    if (row) {

                        row.remove();

                    }

                }

            );

        });

})();

</script>
