/* ==========================================
   ACTION BUTTONS
========================================== */

.global-actions-buttons{
    display:flex;
    justify-content:center;
    gap:25px;
}

/* Wrapper */

.action-wrapper{
    position:relative;
}

/* Main Button */

.action-btn{
    position:relative;

    min-width:100px;
    width:auto;

    min-height:50px;

    display:flex;
    align-items:center;
    justify-content:center;

    padding-left:40px;
    padding-right:25px;

    border-radius:14px;
    overflow:hidden;

    text-decoration:none;
    color:#fff;
    cursor:pointer;

    transition:.25s ease;
}

.action-btn:hover{
    transform:translateY(-2px);
    color:#fff;
}

/* Diagonal Stripe */

.action-btn::before{
    content:"";

    position:absolute;

    top:0;
    bottom:0;
    left:60%;

    width:170px;

    transform:skewX(-25deg);
    transform-origin:left;

    z-index:1;
}

/* Edit */

.action-edit{
    background:#f7941d;
}

.action-edit::before{
    background:#e28212;
}

/* Delete */

.action-delete{
    background:#ed1c24;
}

.action-delete::before{
    background:#d30f17;
}

/* View */
.action-view{
    background:#007bff;
}

.action-view::before{
    background:#0069d9;
}
/* Download */
.action-download{
    background:#28a745;
}

.action-download::before{
    background:#1e7e34;
}

/* Icon Box */

.action-icon{
    position:absolute;

    left:-20px;
    top:50%;

    transform:translateY(-50%);

    min-width:30px;
    min-height:30px;
    cursor: pointer;

    border:3px solid #fff;
    border-radius:10px;

    display:flex;
    align-items:center;
    justify-content:center;

    z-index:10;
}

/* Icon Backgrounds */

.action-icon-edit{
    background:#f7941d;
}

.action-icon-delete{
    background:#ed1c24;
}

.action-icon-view{
    background:#007bff;
}

.action-icon-download{
    background:#28a745;
}

/* Icons */

.action-icon i{
    font-size:34px;
    color:#fff;
    line-height:1;
}

/* Label */

.action-label{
    left:2px;
    position:relative;
    z-index:2;

    font-size:18px;
    font-weight:700;
    line-height:1;

    color:#fff;
}

/* Mobile */

@media (max-width:768px){

    .action-btn{
        width:160px;
        height:70px;
        padding-left:32px;
    }

    .action-icon{
        width:50px;
        height:50px;
    }

    .action-icon i{
        font-size:26px;
    }

    .action-label{
        font-size:24px;
    }
}