{% load humanize %}
<div class="modal-header">
  <h5 class="modal-title">Customer details</h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>
<div class="modal-body">
  <dl class="row mb-0">
    <dt class="col-sm-4">Name</dt><dd class="col-sm-8">{{ customer.customer_name }}</dd>
    <dt class="col-sm-4">Company</dt><dd class="col-sm-8">{{ customer.company_name|default:"-" }}</dd>
    <dt class="col-sm-4">Phone</dt><dd class="col-sm-8">{{ customer.phone_number|default:"-" }}</dd>
    <dt class="col-sm-4">Email</dt><dd class="col-sm-8">{{ customer.email|default:"-" }}</dd>
    <dt class="col-sm-4">Address</dt><dd class="col-sm-8">{{ customer.address|default:"-" }}</dd>
    <dt class="col-sm-4">Credit limit</dt><dd class="col-sm-8">{{ customer.credit_limit|default_if_none:0|floatformat:0|intcomma }}</dd>
    <dt class="col-sm-4">Status</dt><dd class="col-sm-8">{{ customer.get_status_display }}</dd>
    <dt class="col-sm-4">Notes</dt><dd class="col-sm-8">{{ customer.notes|default:"-" }}</dd>
  </dl>
</div>
