{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
  <div class="row row-cols-xxxl-5 row-cols-lg-3 row-cols-sm-2 row-cols-1 gy-4">
    <div class="col">
      <div class="card shadow-none border bg-gradient-start-1 h-100">
        <div class="card-body p-20">
          <div class="d-flex flex-wrap align-items-center justify-content-between gap-3">
            <div class="text-center">
              <p class="fw-medium text-primary-light mb-1">Total Customers</p>
              <h6 class="mb-0">{{ customers_count }}</h6>
            </div>
            <div class="w-50-px h-50-px bg-cyan rounded-circle d-flex justify-content-center align-items-center">
              <iconify-icon icon="gridicons:multiple-users" class="text-white text-2xl mb-0"></iconify-icon>
            </div>
          </div>
        </div>
      </div>
      <!-- card end -->
    </div>
    <div class="col">
      <div class="card shadow-none border bg-gradient-start-2 h-100">
        <div class="card-body p-20">
          <div class="d-flex flex-wrap align-items-center justify-content-between gap-3">
            <div class="text-center">
              <p class="fw-medium text-primary-light mb-1">Total Quotations</p>
              <h6 class="mb-0">{{ quotation_count }}</h6>
            </div>
            <div class="w-50-px h-50-px bg-purple rounded-circle d-flex justify-content-center align-items-center">
              <iconify-icon icon="ri:draft-line" class="text-white text-2xl mb-0"></iconify-icon>
            </div>
          </div>
        </div>
      </div>
      <!-- card end -->
    </div>
    <div class="col">
      <div class="card shadow-none border bg-gradient-start-3 h-100">
        <div class="card-body p-20">
          <div class="d-flex flex-wrap align-items-center justify-content-between gap-3">
            <div class="text-center">
              <p class="fw-medium text-primary-light mb-1">Total Invoices</p>
              <h6 class="mb-0">{{ invoice_count }}</h6>
            </div>
            <div class="w-50-px h-50-px bg-info rounded-circle d-flex justify-content-center align-items-center">
              <iconify-icon icon="ri:bill-line" class="text-white text-2xl mb-0"></iconify-icon>
            </div>
          </div>
        </div>
      </div>
      <!-- card end -->
    </div>
<div class="col">

  <div
    class="
      card
      shadow-none
      border
      bg-gradient-start-4
      h-100
    "
  >

    <div class="card-body p-20">

      <div
        class="
          d-flex
          flex-wrap
          align-items-center
          justify-content-between
          gap-3
        "
      >

        <div class="text-center">

          <p
            class="
              fw-medium
              text-primary-light
              mb-1
            "
          >
            Total Receipts
          </p>

          <h6 class="mb-0">

            {{ receipt_count }}

          </h6>

        </div>


        <div
          class="
            w-50-px
            h-50-px
            bg-success-main
            rounded-circle
            d-flex
            justify-content-center
            align-items-center
          "
        >

          <iconify-icon
            icon="solar:bill-list-bold"
            class="
              text-white
              text-2xl
              mb-0
            "
          ></iconify-icon>

        </div>

      </div>

    </div>

  </div>

</div>
    <div class="col">

  <div
    class="
      card
      shadow-none
      border
      bg-gradient-start-5
      h-100
    "
  >

    <div class="card-body p-20">

      <div
        class="
          d-flex
          flex-wrap
          align-items-center
          justify-content-between
          gap-3
        "
      >

        <div class="text-center">

          <p
            class="
              fw-medium
              text-primary-light
              mb-1
            "
          >
            Total Vouchers
          </p>

          <h6 class="mb-0">

            {{ voucher_count }}

          </h6>

        </div>


        <div
          class="
            w-50-px
            h-50-px
            bg-red
            rounded-circle
            d-flex
            justify-content-center
            align-items-center
          "
        >

          <iconify-icon
            icon="fa6-solid:file-invoice-dollar"
            class="
              text-white
              text-2xl
              mb-0
            "
          ></iconify-icon>

        </div>

      </div>

    </div>

  </div>

</div>
  </div>
  <div class="row gy-4 mt-1">
    <div class="col-xxl-6 col-xl-12">
      <div class="card h-100">
        <div class="card-body">
          <div class="d-flex flex-wrap align-items-center justify-content-between">
            <h6 class="text-lg mb-0">Sales Statistics</h6>
            <select class="form-select bg-base form-select-sm w-auto">
              <option selected>{{ current_year }}</option>
            </select>
          </div>
          <div class="d-flex flex-wrap align-items-center gap-2 mt-8">
            <h6 class="mb-0">TZS {{ yearly_sales|floatformat:0|intcomma }}</h6>
            {% if sales_growth >= 0 %}
              <span class="text-sm fw-semibold rounded-pill bg-success-focus text-success-main border br-success px-8 py-4 line-height-1 d-flex align-items-center gap-1">{{ sales_growth }}%<iconify-icon icon="bxs:up-arrow" class="text-xs"></iconify-icon></span>
            {% else %}
              <span class="text-sm fw-semibold rounded-pill bg-danger-focus text-danger-main border br-danger px-8 py-4 line-height-1 d-flex align-items-center gap-1">{{ sales_growth|floatformat:1 }}%<iconify-icon icon="bxs:down-arrow" class="text-xs"></iconify-icon></span>
            {% endif %}
            <span class="text-xs fw-medium">
              This Month:
              <strong>TZS {{ monthly_total|floatformat:0|intcomma }}</strong>
            </span>
          </div>
          <div id="chart" class="pt-28 apexcharts-tooltip-style-1"></div>
        </div>
      </div>
    </div>
    <div class="col-xxl-6 col-xl-12">
      <div class="card h-100">
        <div class="card-body p-24 mb-8">
          <div class="d-flex align-items-center flex-wrap gap-2 justify-content-between">
            <h6 class="mb-2 fw-bold text-lg mb-0">Income Vs Expense</h6>

            <select class="form-select form-select-sm w-auto bg-base border text-secondary-light">
              <option selected>{{ current_year }}</option>
            </select>
          </div>

          <ul class="d-flex flex-wrap align-items-center justify-content-center my-3 gap-24">
            <!-- Income -->
            <li class="d-flex flex-column gap-1">
              <div class="d-flex align-items-center gap-2">
                <span class="w-8-px h-8-px rounded-pill bg-primary"></span>
                <span class="text-secondary-light text-sm fw-semibold">Income</span>
              </div>

              <div class="d-flex align-items-center gap-8">
                <h6 class="mb-0">TZS {{ total_income|floatformat:0|intcomma }}</h6>

                {% if total_income > total_expenses %}
                  <span class="text-success-600 d-flex align-items-center gap-1 text-sm fw-bolder">
                    Profit
                    <i class="ri-arrow-up-s-fill d-flex"></i>
                  </span>
                {% endif %}
              </div>
            </li>

            <!-- Expenses -->
            <li class="d-flex flex-column gap-1">
              <div class="d-flex align-items-center gap-2">
                <span class="w-8-px h-8-px rounded-pill bg-warning-600"></span>
                <span class="text-secondary-light text-sm fw-semibold">Expenses</span>
              </div>
              <div class="d-flex align-items-center gap-8">
                <h6 class="mb-0">TZS {{ total_expenses|floatformat:0|intcomma }}</h6>

                {% if total_profit > 0 %}
                  <span class="text-success-600 d-flex align-items-center gap-1 text-sm fw-bolder">
                    +TZS {{ total_profit|floatformat:0|intcomma }}
                    <i class="ri-arrow-up-s-fill d-flex"></i>
                  </span>
                {% elif total_profit < 0 %}
                  <span class="text-danger-600 d-flex align-items-center gap-1 text-sm fw-bolder">
                    -TZS {{ total_profit|floatformat:0|intcomma|cut:'-' }}
                    <i class="ri-arrow-down-s-fill d-flex"></i>
                  </span>
                {% else %}
                  <span class="text-secondary-light text-sm fw-bolder">Break Even</span>
                {% endif %}
              </div>
            </li>
          </ul>

          <div id="incomeExpense" class="apexcharts-tooltip-style-1"></div>
        </div>
      </div>
    </div>
    <div class="col-xxl-12">
      <div class="card h-100">
        <div class="card-body p-24">
          <div class="d-flex align-items-center flex-wrap gap-2 justify-content-between mb-20">
            <h6 class="mb-2 fw-bold text-lg mb-0">Top Selling Product</h6>
          </div>
          <div class="table-responsive scroll-sm">
            <table class="table bordered-table mb-0" id="responsiveTable">
              <thead>
                <tr>
                  <th style="width: 6%;" class="text-center">S/N</th>
                  <th scope="col">Items</th>
                  <th scope="col">Price</th>
                  <th scope="col">Discount</th>
                  <th scope="col">Sold</th>
                  <th scope="col" class="text-center">Total Orders</th>
                </tr>
              </thead>
              <tbody>
                {% for product in top_selling_products %}
                  <tr>
                    <td style="width: 6%;" class="text-center">{{ forloop.counter }}</td>
                    <td>
                      <div class="d-flex align-items-center">
                        <div class="flex-shrink-0 me-12 w-40-px h-40-px bg-primary-50 rounded-circle d-flex justify-content-center align-items-center">
                          <iconify-icon icon="solar:box-outline" class="text-primary-600 text-xl"></iconify-icon>
                        </div>
                        <div class="flex-grow-1">
                          <h6 class="text-md mb-0 fw-normal">{{ product.product__product_name }}</h6>
                          <span class="text-sm text-secondary-light fw-normal">{{ product.product__product_category__name }}</span>
                        </div>
                      </div>
                    </td>
                    <td>TZS {{ product.unit_price|floatformat:0 }}</td>
                    <td>—</td>
                    <td>{{ product.total_sold|floatformat:0 }}</td>
                    <td class="text-center">
                      <span class="bg-success-focus text-success-main px-32 py-4 rounded-pill fw-medium text-sm">{{ product.total_orders }}</span>
                    </td>
                  </tr>
                {% empty %}
                  <tr>
                    <td colspan="5" class="text-center">No sales available.</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xxl-12">
      <div class="card h-100">
        <div class="card-body p-24">
          <div class="d-flex align-items-center flex-wrap gap-2 justify-content-between mb-20">
            <h6 class="mb-2 fw-bold text-lg mb-0">Stock Report</h6>
          </div>
          <div class="table-responsive scroll-sm">
            <table class="table bordered-table mb-0" id="responsiveTable">
              <thead>
                <tr>
                  <th style="width: 6%;" class="text-center">S/N</th>
                  <th scope="col">Items</th>
                  <th scope="col">Price</th>
                  <th scope="col">
                    <div class="max-w-112 mx-auto">
                      <span>Stock</span>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for product in stock_report %}
                  <tr>
                    <td style="width: 6%;" class="text-center">{{ forloop.counter }}</td>
                    <td>
                      <div class="d-flex align-items-center">
                        <div class="flex-shrink-0 me-12 w-40-px h-40-px bg-primary-50 rounded-circle d-flex justify-content-center align-items-center">
                          <iconify-icon icon="solar:box-outline" class="text-primary-600 text-xl"></iconify-icon>
                        </div>

                        <div class="flex-grow-1">
                          <h6 class="text-md mb-0 fw-normal">{{ product.product_name }}</h6>

                          <span class="text-sm text-secondary-light fw-normal">{{ product.product_category.name }}</span>
                        </div>
                      </div>
                    </td>

                    <td>
                      {% if product.sales_pricing %}
                        TZS {{ product.sales_pricing.selling_price|floatformat:0 }}
                      {% else %}
                        —
                      {% endif %}
                    </td>

                    <td>
                      <div class="max-w-112 mx-auto">
                        <div class="w-100">
                          <div class="progress progress-sm rounded-pill">
                            <div class="progress-bar
            {% if product.stock_status == 'out' %}
                                
                                
                bg-danger-main


                              {% elif product.stock_status == 'low' %}
                                
                                
                bg-warning-main


                              {% else %}
                                
                                
                bg-success-main


                              {% endif %}
            rounded-pill"
                              style="width:{{ product.stock_percentage }}%;"></div>
                          </div>
                        </div>

                        {% if product.stock_status == 'out' %}
                          <span class="mt-12 text-danger-main text-sm fw-medium">Out of Stock</span>
                        {% elif product.stock_status == 'low' %}
                          <span class="mt-12 text-warning-main text-sm fw-medium">{{ product.current_stock|floatformat:0 }} Low Stock</span>
                        {% else %}
                          <span class="mt-12 text-success-main text-sm fw-medium">{{ product.current_stock|floatformat:0 }} In Stock</span>
                        {% endif %}
                      </div>
                    </td>
                  </tr>
                {% empty %}
                  <tr>
                    <td colspan="3" class="text-center py-5">No products available.</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block scripts %}

{% endblock %}
