<!-- meta tags and other links -->
<!DOCTYPE html>
<html lang="en" data-theme="light">
  {% include "partials/head.html"%}
  <body>
    {% include "partials/sidebar.html" %}

    <main class="dashboard-main">
      {% include "partials/navbar.html" %}
        <div class="dashboard-main-body">
            {% include "partials/breadcrumb.html" with title=title subTitle=subTitle %} 
                {% block content %} 
                {% endblock %}
        </div>

      {% include "partials/footer.html" %}
    </main>
    {% include "partials/scripts.html" %} {% block scripts %} {% endblock %}
     <!-- GLOBAL MODAL -->
    <div class="modal fade" id="globalModal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
      <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content" id="modal-body"></div>
      </div>
    </div>
    {% if messages %}

  <div
    id="django-messages"
    class="d-none"
  >

    {% for message in messages %}

      <div
        class="django-message"
        data-type="{{ message.tags|default:'info' }}"
        data-message="{{ message|escape }}"
      ></div>

    {% endfor %}

  </div>

{% endif %}
  </body>
</html>
