<!-- templates/products/partials/product_form.html -->

{% load widget_tweaks %}

<div class="modal-header">

    <h5 class="modal-title">

        {% if product %}
            Edit Product
        {% else %}
            Add Product
        {% endif %}

    </h5>

    <button
        type="button"
        class="btn border-0 shadow-none p-0"
        data-bs-dismiss="modal"
    >
        <i class="fa-solid fa-xmark"></i>
    </button>

</div>


<form

    method="POST"

    hx-post="
        {% if product %}
            {% url 'products:product_update' product.id %}
        {% else %}
            {% url 'products:product_create' %}
        {% endif %}
    "

    hx-swap="none"
>

    {% csrf_token %}


    <div class="modal-body">

        <div class="row">


            <!-- PRODUCT NAME -->

            <div class="col-md-6 mb-3">

                <label class="form-label">
                    Product Name
                </label>

                {% render_field form.product_name class="form-control" placeholder="Enter product name" %}

                <div class="text-danger small">

                    {{ form.product_name.errors }}

                </div>

            </div>


            <!-- CATEGORY -->

            <div class="col-md-6 mb-3">

                <label class="form-label">
                    Product Category
                </label>

                {% render_field form.product_category class="form-select tom-select" data-placeholder="Select category" %}

                <div class="text-danger small">

                    {{ form.product_category.errors }}

                </div>

            </div>


            <!-- SKU -->

            <div class="col-md-6 mb-3">

                <label class="form-label">
                    SKU Code
                </label>

                {% render_field form.sku_code class="form-control" placeholder="Enter SKU code" %}

                <div class="text-danger small">

                    {{ form.sku_code.errors }}

                </div>

            </div>


            <!-- UNIT -->

            <div class="col-md-6 mb-3">

                <label class="form-label">
                    Product Unit
                </label>

                {% render_field form.product_unit class="form-select tom-select" data-placeholder="Select unit" %}

                <div class="text-danger small">

                    {{ form.product_unit.errors }}

                </div>

            </div>


            <!-- PRODUCT TYPE -->

            <div class="col-md-6 mb-3">

                <label class="form-label">
                    Product Type
                </label>

                {% render_field form.product_type class="form-select tom-select" data-placeholder="Select product type" %}

                <div class="text-danger small">

                    {{ form.product_type.errors }}

                </div>

            </div>


            <!-- STATUS -->

            <div class="col-md-6 mb-3">

                <label class="form-label">
                    Status
                </label>

                {% render_field form.status class="form-select tom-select" data-placeholder="Select status" %}

                <div class="text-danger small">

                    {{ form.status.errors }}

                </div>

            </div>


            <!-- DESCRIPTION -->

            <div class="col-12 mb-3">

                <label class="form-label">
                    Short Description
                </label>

                {% render_field form.short_description class="form-control" rows="3" placeholder="Optional description..." %}

                <div class="text-danger small">

                    {{ form.short_description.errors }}

                </div>

            </div>

        </div>

    </div>


    <div class="modal-footer">

        <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
        >
            Close
        </button>

        <button
            type="submit"
            class="btn btn-primary"
        >

            {% if product %}
                Update Product
            {% else %}
                Save Product
            {% endif %}

        </button>

    </div>

</form>